<!-- *******Esta foi Hack feito por mim, para resolver o problema de Não atualizar a imagem no template no tempo de execução do Angular
    foi criado uma Propriedade que retorna um Observable*********** -->
<div class="new-or-edit" *ngIf="changeImage | async as localImage">
  <div class="row">
    <div class="col">
      <h2> <span>Recipe Name: {{ localImage.title }}</span> </h2>
      <!-- <h2> <span>Recipe Image: {{this.image }}</span> </h2> -->
    </div>
  </div>
  <hr>
  <div class="row row-form">
    <div class="col">
      <form [formGroup]="newOrEditRecipesForm">
        <div class="card-list">
          <div class="card" style="width: 40rem;">
            <img [src]="localImage.imagePath ? localImage.imagePath : './../../../../assets/imgs/edite.jpg' "
              class="card-img-top" alt="{{ localImage.title }}">
            <div class="card-body">
              <h5 class="card-title">{{this.newRecipes?.name}}</h5>
              <p class="card-text">{{this.newRecipes?.description}}</p>
            </div>
            <div class="container">

              <div class="mb-3">
                <label for="Id" class="form-label">Id</label>
                <input class="form-control" type="text" placeholder="ID" aria-label="default input example"
                  formControlName="id">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Recipe Name</label>
                <input class="form-control" type="text" placeholder="Recipe Name" aria-label="default input example"
                  formControlName="name">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Recipe Description</label>
                <input class="form-control" type="text" placeholder="Recipe Description"
                  aria-label="default input example" formControlName="description">
              </div>
              <div class="mb-3">
                <label for="ImagePath" class="form-label">Recipe Image Url</label>
                <input class="form-control" type="text" placeholder="ImagePath" aria-label="default input example"
                  formControlName="imagePath" >
              </div>

              <div formGroupName="ingredients">
                <div class="mb-3">
                  <label for="ingred_name" class="form-label">Ingrediente Name</label>
                  <input class="form-control" type="text" placeholder="Ingrediente Name"
                    aria-label="default input example" formControlName="ingred_name">
                </div>
                <div class="mb-3">
                  <label for="amount" class="form-label">Amount Value</label>
                  <input class="form-control" type="text" placeholder="Amount" aria-label="default input example"
                    formControlName="amount">
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-danger" routerLink="/recipes" type="button">Close</button>
                <button class="btn btn-outline-warning" type="button" (click)="this.newOrEditRecipesForm.reset()"
                  [hidden]="localImage.title !== 'New Recipes'">Clean
                  Form</button>
                <button class="btn btn-outline-primary" type="button" (click)="saveOrUpdade(newOrEditRecipesForm)">{{
                  nameButton }}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
