<!-- *******Esta foi Hack feito por mim, para resolver o problema de Não atualizar a imagem no template no tempo de execução do Angular
    foi criado uma Propriedade que retorna um Observable*********** -->
<div class="new-or-edit" *ngIf="changeImage | async as localImage">
  <div class="row">
    <div class="col">
      <h2> <span>Recipe Name: {{ localImage.title }}</span> </h2>
      <!-- <h2> <span>Recipe Image: {{this.image }}</span> </h2> -->
    </div>
  </div>
  <hr>
  <div class="row row-form">
    <div class="col">
      <form [formGroup]="newOrEditRecipesForm">
        <div class="card-list">
          <div class="card" style="width: 40rem;">
            <img [src]="localImage.imagePath ? localImage.imagePath : './../../../../assets/imgs/edite.jpg' "
              class="card-img-top" alt="{{ localImage.title }}">
            <div class="card-body">
              <h5 class="card-title">{{this.newRecipes?.name}}</h5>
              <p class="card-text">{{this.newRecipes?.description}}</p>
            </div>
            <div class="container">
              <!-- Escondendo a DIV do ID
              <div class="mb-3" hidden="true">
                <label for="Id" class="form-label">Id</label>
                <input class="form-control" type="text" placeholder="ID" aria-label="default input example"
                  formControlName="id">
              </div>
              -->
              <div class="mb-3">
                <label for="name" class="form-label">Recipe Name</label>
                <input class="form-control" type="text" placeholder="Recipe Name" aria-label="default input example"
                  formControlName="name">
                  <section
                  *ngIf="!newOrEditRecipesForm.controls['name']?.valid && newOrEditRecipesForm.controls['name']?.touched">
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm?.hasError('required', 'name')">
                    <p>Field is mandatory</p>
                  </small>
                  <!-- Usando CONTROLS Errors -->
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm.controls['name'].errors?.['minlength']">
                    <p>Min size are 3 lettlers</p>
                  </small>
                  <!-- Usando HASERROR -->
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm.hasError('maxlength', 'name')">
                    <p>Max Field are 30 lettlers</p>
                  </small>
                </section>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Recipe Description</label>
                <input class="form-control" type="text" placeholder="Recipe Description"
                  aria-label="default input example" formControlName="description">
                  <section
                  *ngIf="!newOrEditRecipesForm.controls['description']?.valid && newOrEditRecipesForm.controls['description']?.touched">
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm?.hasError('required', 'description')">
                    <p>Field is mandatory</p>
                  </small>
                  <!-- Usando CONTROLS Errors -->
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm.controls['description'].errors?.['minlength']">
                    <p>Min size are 3 lettlers</p>
                  </small>
                  <!-- Usando HASERROR -->
                  <small class="warning" style="color: red; padding:1%;"
                    *ngIf="newOrEditRecipesForm.hasError('maxlength', 'description')">
                    <p>Max Field are 30 lettlers</p>
                  </small>
                </section>
              </div>
              <div class="mb-3">
                <label for="ImagePath" class="form-label">Recipe Image Url</label>
                <input class="form-control" type="text" placeholder="ImagePath" aria-label="default input example"
                  formControlName="imagePath" >
              </div>
              <section
              *ngIf="!newOrEditRecipesForm.controls['imagePath']?.valid && newOrEditRecipesForm.controls['imagePath']?.touched">
              <small class="warning" style="color: red; padding:1%;"
                *ngIf="newOrEditRecipesForm?.hasError('required', 'imagePath')">
                <p>Field is mandatory</p>
              </small>
              <!-- Usando CONTROLS Errors -->
              <small class="warning" style="color: red; padding:1%;"
                *ngIf="newOrEditRecipesForm.controls['imagePath'].errors?.['minlength']">
                <p>Min size are 3 lettlers</p>
              </small>
              <!-- Usando HASERROR -->
              <small class="warning" style="color: red; padding:1%;"
                *ngIf="newOrEditRecipesForm.hasError('maxlength', 'imagePath')">
                <p>Max Field are 30 lettlers</p>
              </small>
            </section>

              <div formGroupName="ingredients">
                <div class="mb-3">
                  <label for="ingred_name" class="form-label">Ingrediente Name</label>
                  <input class="form-control" type="text" placeholder="Ingrediente Name"
                    aria-label="default input example" formControlName="ingred_name">
                    <section
                    *ngIf="!newOrEditRecipesForm.controls['ingredients']?.valid && newOrEditRecipesForm.controls['ingredients']?.touched">
                    <!--  Form NESTED----tem que passar o o Objeto completo ingredients.ingred_name-->
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf="newOrEditRecipesForm?.hasError('required', 'ingredients.ingred_name')">
                      <p>Field is mandatory</p>
                    </small>
                    <!-- Usando CONTROLS Errors-------------------------------------------- -->
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf=" this.newOrEditRecipesForm.hasError('minlength', 'ingredients.ingred_name')">
                      <p>Min size are 3 lettlers</p>
                    </small>
                    <!-- Usando HASERROR -->
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf="newOrEditRecipesForm.hasError('maxlength', 'ingredients.ingred_name')">
                      <p>Max Field are 30 lettlers</p>
                    </small>
                  </section>
                </div>
                <div class="mb-3">
                  <label for="amount" class="form-label">Amount Value</label>
                  <input class="form-control" type="text" placeholder="Amount" aria-label="default input example"
                    formControlName="amount">
                    <section
                    *ngIf="!newOrEditRecipesForm.controls['ingredients']?.valid && newOrEditRecipesForm.controls['ingredients']?.touched">
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf="this.newOrEditRecipesForm.hasError('required', 'ingredients.amount')">
                      <p>Field is mandatory</p>
                    </small>
                    <!-- Usando CONTROLS Errors -->
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf="newOrEditRecipesForm.hasError('minlength','ingredients.amount')">
                      <p>Min size are 1 Number</p>
                    </small>
                    <!-- Usando CUSTON CONTROLS Errors -->
                    <small class="warning" style="color: red; padding:1%;"
                      *ngIf="newOrEditRecipesForm.hasError('justanumber','ingredients.amount')">
                      <p>Just Number</p>
                    </small>

                  </section>
                  <!-- {{'teste' + newOrEditRecipesForm.get("ingredients.justanumber")?.errors?.['description']}} -->
                  <!-- {{'teste' + this.newOrEditRecipesForm.get('ingredients')?.getError('justanumber','description')}} -->
{{'teste: ' + this.newOrEditRecipesForm.get('ingredients')?.getError('justanumber','amount') | json}}
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-danger" routerLink="/recipes" type="button">Close</button>
                <button class="btn btn-outline-warning" type="button" (click)="this.newOrEditRecipesForm.reset()"
                  [hidden]="localImage.title !== 'New Recipes'">Clean
                  Form</button>
                <button class="btn btn-outline-primary" type="button" [disabled]="!newOrEditRecipesForm.valid" (click)="saveOrUpdade(newOrEditRecipesForm)">{{
                  nameButton }}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
