<div class="row first">
  <div class="col">
    <button class="btn btn-success" routerLink="/recipes/new">New Recipe</button>
  </div>
  <div>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-list">
        <!-- noss Card -->
        <!-- Foi Usando o Dummy RecipesEmitter para Atualizar o DOM, por que o Observable não fazia mais de 1 vez-->
        <!-- <app-recipes-item *ngFor="let item of recipes$ | async " [items]="item"></app-recipes-item> -->
        <app-recipes-item *ngFor="let item of recipes$Emitted | async " [items]="item"></app-recipes-item>
      </div>
    </div>
  </div>
</div>
