<div *ngIf="this.loadItem$ |async as localLoadItem">
  <div class="row">
    <div class="col">
      <h2>Recipe Name: {{localLoadItem?.['name']}}</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col col-button">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Manage Recipe</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="sendGoodsToshoppingList()" routerLink="/shopping">To Shopping List </a></li>
            <li><a class="dropdown-item" routerLink="/recipes/{{localLoadItem?.id}}/edit">Update Recipe</a></li>
            <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-list">
        <div class="card" style="width: 40rem;">
          <img [src]="localLoadItem?.imagePath" class="card-img-top" alt="{{ localLoadItem?.name }}">
          <div class="card-body">
            <h5 class="card-title">{{localLoadItem?.name}}</h5>
            <p class="card-text">{{localLoadItem?.description}}</p>
            <a class="btn btn-primary" routerLink="/recipes">Close Recipes </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
