body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(68.15deg, #09031f 16.62%, #e0e2e6 85.61%);
  position: relative;
  box-shadow: 1em 1em 25px 1em #0d0d0ea9,
   inset 0 0 25px 0.5em #04040f60,
     inset 0 0 5em 0px #0113448f;
}
