<div class="row">
  <div class="col-xs-12">
    <form class="form"  [formGroup]="myFormBuilder">
    <div class="row g-2">
      <div class="col-sm-5 form-group">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="StuffName" formControlName="name">
          <label for="name">Stuff Name </label>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <input type="number" class="form-control" id="amount" placeholder="amount" formControlName="amount">
          <label for="amount">Amount</label>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="submit" class="btn btn-success mb-3" (click)="submitForms(myFormBuilder)">Add Item</button>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="button" class="btn btn-danger mb-3">Remove Item</button>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="button" class="btn btn-primary mb-3">Clean Form</button>
        </div>
      </div>
    </div>
    </form>
  </div>

</div>

<!-- <section class="container">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-light" routerLink="/forms/reactive">Back</button>
      </div>
      <form class="form"  [formGroup]="myFormBuilder"  (ngSubmit)="submitForms()" >
        <h2 class="title">Form-builder</h2>
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="address" formControlName="address">
        </div>
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <label for="ssn" class="col-sm-2 col-form-label">SSN</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="ssn" formControlName="ssn">
        </div>
        <div class="passwordGroup" formGroupName="passwordGroup">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
              <input type="password" class="form-control" id="password" formControlName="password" >
          </div>
          <label for="pConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-6">
              <input type="password" class="form-control" id="pConfirm" formControlName="pConfirm" >
          </div>
      </div>
        <div class="col-sm-6 d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 1%;">
          <button class="btn btn-outline-danger mb-3" (click)="myFormBuilder.reset()" >Reset Form</button>
          <button type="submit" class="btn btn-outline-primary mb-3"  >Send</button>
        </div>

        <ng-container *ngIf="!myFormBuilder.dirty; else hasdirty"></ng-container>
        <ng-template #hasdirty>
          <pre>
                      {{ myFormBuilder?.value  | json }}

                  </pre>
        </ng-template>
      </form>


    myFormBuilder!: FormGroup;

  constructor(private fb: FormBuilder) {
    /**Ja na criação fo FormBuilder, posso passar um array, um objeto e setar um valor default,
     *  passar um null, posso setar o evento de blur ou onchange do mouse */
    this.myFormBuilder = fb.group({
      name: [''],
      address: [''],
      email: [''],
      ssn: { value: '111222', disabled: true },
      passwordGroup: fb.group({
        password: '',
        pConfirm: [''],
      })
    });
  }





    -->
