<div class="row">
  <div class="col-xs-12">
    <div class="row g-2">
      <div class="col-sm-5 form-group">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="name@example.com">
          <label for="name">Stuff Name </label>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <input type="number" class="form-control" id="amount" placeholder="Password">
          <label for="amount">Amount</label>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="submit" class="btn btn-success mb-3">Add Item</button>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="button" class="btn btn-danger mb-3">Remove Item</button>
        </div>
      </div>
      <div class="col-sm-2 form-group">
        <div class="form-floating">
          <button type="button" class="btn btn-primary mb-3">Clean Form</button>
        </div>
      </div>
    </div>

  </div>

</div>

